
<div class="container">
  <h1><%= @list.name %></h1>

  <ul>
    <% @movies.each do |movie| %>
      <li>
        <h3><%= movie.title %></h3>
        <p><%= movie.overview %></p>
        <p>Rating:<%= movie.rating %></p>
        <% img_tag %>

      </li>
    <% end %>
  </ul>
  <%= link_to "Back", root_path %>
</div>
